
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');



html {
	height: 100%;
	background-image: url('../img/ccpark.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;


}
#main_container{
	width: 65%;
	height: 35%;
	/* border: 1px solid black; */
	display: flex;
	justify-content: start;
	align-items: start;
	margin-top: 10px;
}
#coming {
	font-size: 20px
}
#coming_soon{
	padding-left: 10px;
	width: 50%;
	height: 100%;
	/* border: 1px solid black; */
	font-family: 'Sulphur Point', sans-serif;
	font-size: 40px;
	color: white;
	padding-top: 50px;
	text-shadow: 1px 1px #1f5aad;
}

#mhlogo {
	width: 50%;
}
