<!DOCTYPE html>
<html>
  <head>
     <meta charset='UTF-8'>
     <title>Iggy Strode for Mayor</title>
     <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/styles.css') }}" media='screen'>
     <!-- <link rel="stylesheet" type ='text/css' href="{{ url_for('static', filename='css/font-awesome.min.css') }}"> -->
     <link rel="icon" href="{{ url_for('static', filename='img/thumb.jpeg') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="author" content="Deke Dotem">
     <meta name="description" content="Website for Iggy Strode's campaign for Mayor of Maryland Heights, MO">
     <meta property="og:description" content="Website for Iggy Strode's campaign for Mayor of Maryland Heights, MO">
  </head>
  <body>
    <div id='main_container'>
          <div class="topnav" id="myTopnav">
            <a href="#home" class="active">HOME</a>
            <a href="/issues">IGGY'S ISSUES</a>
            <a href="https://www.meganmeierfoundation.org/donate/" target="_blank">DONATE</a>
            <!-- <a href="#about">About</a> -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
          </div>
          <div id='body_container'>
            <div id='title_container'><a id='title_text'>IGGY STRODE FOR MAYOR</a><a id='mh_title_text'>OF MARYLAND HEIGHTS, MO</a>
          </div>
    </div>
  </div>

    <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src='/static/js/scripts.js'></script>
  </body>
</html>
