<!DOCTYPE html>
<html>
  <head>
     <meta charset='UTF-8'>
     <title>Iggy Strode for Mayor</title>
     <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/styles.css') }}" media='screen'>
     <!-- <link rel="stylesheet" type ='text/css' href="{{ url_for('static', filename='css/font-awesome.min.css') }}"> -->
     <link rel="icon" href="{{ url_for('static', filename='img/thumb.jpeg') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="author" content="Deke Dotem">
     <meta name="description" content="Website for Iggy Strode's campaign for Mayor of Maryland Heights, MO">
     <meta property="og:description" content="Website for Iggy Strode's campaign for Mayor of Maryland Heights, MO" />
  </head>
  <body>
    <div id='main_container'>
      <div id='coming_soon'>Iggy Strode for Mayor</div>
      <div id='main_logo'><img id='mhlogo' src='../static/img/logo.png'></div>
      <div id='coming_soon_text'>Coming Soon</div>
    </div>
  </body>
</html>
