<!DOCTYPE html>
<html>
  <head>
     <meta charset='UTF-8'>
     <title>Iggy Strode for Mayor</title>
     <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/styles.css') }}" media='screen'>
     <!-- <link rel="stylesheet" type ='text/css' href="{{ url_for('static', filename='css/font-awesome.min.css') }}"> -->
     <link rel="icon" href="{{ url_for('static', filename='img/thumb.jpeg') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="author" content="Deke Dotem">
     <meta name="description" content="Website for Iggy Strode's campaign for Mayor of Maryland Heights, MO">
     <meta property="og:description" content="Website for Iggy Strode's campaign for Mayor of Maryland Heights, MO" /
  </head>
  <body>
    <div id='main_container'>
          <div class="topnav" id="myTopnav">
            <a href="/" >HOME</a>
            <a href="/issues" class='active'>IGGY'S ISSUES</a>
            <a href="https://www.meganmeierfoundation.org/donate/" target="_blank">DONATE</a>
            <!-- <a href="/about">About</a> -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
          </div>
          <div id='body_container'>

          <div id='issue_container'>
            <div id='issue_title_container'><p><span class='stands_font'>WHERE IGGY STANDS</span><span class='issue_font'>ON THE ISSUES</span></p></div>
              <div class='issue'>
                <img src="{{ url_for('static', filename='img/iggy_logo.png') }}">
                <div class='issue_text'>
                  <a>TRANSPORTATION</a>
                  <div id='issue_text_msg'><a>"Public safety should be our #1 priority all while we optimize infrastructure and invest in our future"</a></div>
                <div id='audio_container'>
                <audio controls preload="auto">
                  <source src="{{ url_for('static', filename='audio/IGGYMAYORREDLIGHT.mp3')}}" />
                </audio></div>
                </div>
            </div>
            <div class='issue'>
              <img src="{{ url_for('static', filename='img/iggy_logo.png') }}">
              <div class='issue_text'>
                <a>RELATABILITY</a>
                <div id='issue_text_msg'><a>He's no career politician. Strode lives like a Prohibition-era homeless orphan! </a></div>
              <div id='audio_container'>
              <audio controls preload="auto"
                <source src="{{ url_for('static', filename='audio/IGGYMAYORREDLIGHT.mp3')}}" />
              </audio></div>
              </div>
          </div>
          <div class='issue'>
            <img src="{{ url_for('static', filename='img/iggy_logo.png') }}">
            <div class='issue_text'>
              <a>ACCESSIBILITY</a>
              <div id='issue_text_msg'><a>Stop by and say hello, we'd be happy to see you! There's nothing Mayor Strode loves more than being available and giving back to his community.</a></div>
            <div id='audio_container'>
            <audio controls preload="auto">
              <source src="{{ url_for('static', filename='audio/IGGYMAYORREDLIGHT.mp3')}}" />
            </audio></div>
            </div>
        </div>
        <div class='issue'>
          <img src="{{ url_for('static', filename='img/iggy_logo.png') }}">
          <div class='issue_text'>
            <a>GET MOVING, MARYLAND HEIGHTS</a>
            <div id='issue_text_msg'><a>Sure he never made it 'pro,' but as a world-class athlete, Strode can keep our youngsters moving! Wanna race?</a></div>
          <div id='audio_container'>
          <audio controls preload="auto">
            <source src="{{ url_for('static', filename='audio/IGGYMAYORREDLIGHT.mp3')}}" />
          </audio></div>
          </div>
      </div>
      <div class='issue'>
        <img src="{{ url_for('static', filename='img/iggy_logo.png') }}">
        <div class='issue_text'>
          <a>A STAFF YOU CAN BELIEVE IN</a>
          <div id='issue_text_msg'><a>Strode surrounds himself with the best, like his Chief Man-Baby Bif and their assistant Holly Goodhead. Watch out, Washington, there's nothing these two can't tackle!</a></div>
        <div id='audio_container'>
        <audio controls preload="auto">
          <source src="{{ url_for('static', filename='audio/IGGYMAYORREDLIGHT.mp3')}}" />
        </audio></div>
        </div>
    </div>
  </div>
</div>

    <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
  </body>
</html>
